body {
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#00ADEF;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    height: auto;
    top: 10px;
}